<div class="wrapper-normal">
    <div class="header-home">
        <div>
            <img class="selfie" alt="Mona" src="{{ site.url }}/images/me_athon.jpg">
        </div>
        <div class="social-links">
            <a class="social" href="mailto:bakti.satria.a@gmail.com">
                <i class="fa fa-envelope">
                </i>
            </a>
            <a class="social" href="http://linkedin.com/in/baktistr">
                <i class="fa fa-linkedin">
                </i>
            </a>
            <a class="social" href="http://twitter.com/baktistr">
                <i class="fa fa-twitter">
                </i>
            </a>
            <a class="social" href="http://facebook.com/baktistr">
                <i class="fa fa-facebook">
                </i>
            </a>
            <a class="social" href="http://baktisatria.com">
                <i class="fa fa-wordpress">
                </i>
            </a>
            <a class="social" href="http://instagram.com/baktistr">
                <i class="fa fa-instagram">
                </i>
            </a>
        </div>
        <p class="description">Security | Data | Photography</p>

    </div>

</div>